* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    border-bottom: 16px solid rgb(43, 43, 43);
}

header button, form button {
    margin-left: 16px;
    background-color: green;
    color: white;
    border: none;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
}

#cancelar-button {
    background-color: red;
}

form {
    text-align: center;
    background-color: rgba(111, 0, 255, 0.651);
    padding: 16px 0;
    display: none;
}

form input {
    padding: 8px;
}

form h2 {
    margin-bottom: 12px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

ul li {
    width: 25%;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-imagem-link {
    background-color: rgba(0,0,0,0.7);
    padding: 16px;
    position: absolute;    
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 0.5s;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
    
}